/* this is the css file specifying the website of maxi riegel */

/* import google fonts through web api */

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Bungee+Shade&family=Fascinate&family=Kumar+One+Outline&family=Major+Mono+Display&family=Monofett&family=Plaster&display=swap');


/* specify full page color */
body
{
	background-color: black;
}

/* info on row of links o top */
.linkrow
{
	position: fixed;
	left: 50%;
	top: 50px;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
}

/* specify how the entries/actual links inside the row look like*/
.linkrow a
{
	font-size: 150%;
	color: #FE2EF7;
	text-decoration: none;
	font-family: 'Monofett', 'cursive';
	transition: all .5s ease-in-out;
}

/* change color and enlarge actual links on mouse-over */
.linkrow a:hover
{
	color: yellow;
	transform: scale(1.25);
}

/* div containing the game canvas */
.pongcourt
{
}

/* game instructions for pong game */
.instruction
{
	
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 150%;
	color: red;
	font-family: 'Monofett', 'cursive';
}

/* text in the page center (my name) */
.centervisual
{
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: 'Bungee Outline', 'cursive';
	font-size: 300%;
	text-align: center;
	color: white;
}

/* actual area/board where the pong is put and played */
canvas
{
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 2.5px solid white;
}

/* last row with button to google */
.exitbutton
{
	position: fixed;
	left: 50%;
	bottom: 0px;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	width: 50%;
	display: flex;
	justify-content: center;
	text-align: center;
}
/* change how actual button looks like */
.exitbutton a
{
	font-size: 150%;
	color: #FE2EF7;
	text-decoration: none;
	font-family: 'Monofett', 'cursive';
	transition: all .5s ease-in-out;
}

/* Change color and size on mouse-over */
.exitbutton a:hover
{
	color: yellow;
	transform: scale(1.15);
}